extends layout

block content
	div(class="top bar #{results[7]}")
		.content YOU'VE HAD
	div(class="second bar #{results[6]}")
		.content #{count}
	div(class="third bar #{results[5]}")
		.content
			| GLASSES OF
	div(class="fourth bar #{results[4]}")
		.content WATER
	div(class="fifth bar #{results[3]}")
		.content IN THE
	div(class="sixth bar #{results[2]}")
		.content LAST
	div(class="seventh bar #{results[1]}")
		.content #{hours}
	div(class="bottom bar #{results[0]}")
		.content HOURS